{% load static %}
<!doctype html>
<script>
    if ((typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {
        location.href = "/poker/mobile_error";
    }
</script>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Poker</title>
    <style>
        img {
            max-height:62px;
            max-width:62px;
        }

        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }
    </style>

  </head>
  <body class="Site">
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join_table' %}"> Join a Table </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'make_table' %}"> Make a Table </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'submit_request' %}"> Submit a Bug/Request </a>
                </li>

            </ul>
            <button type="button" class="btn btn-primary btn-sm"><a style="color:white;" href="https://www.buymeacoffee.com/nbasimulator">Buy Me a Coffee</a></button>
        </div>
    </nav>
    {% block content %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <center class="alert alert-{{ message.tags }}" style="font-size:20px; border-style:solid; color:red; background-color: lightgray;">  <!-- singular -->
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </center>
                {% else %}
                    <center class="alert alert-{{ message.tags }}" style="font-size:20px; border-style:solid; color:green; background-color: lightgray;">  <!-- singular -->
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </center>
                {% endif %}
                <br/>
            {% endfor %}
        {% endif %}
        <center> <h1> Play Online Heads-up Poker </h1> </center>
        <br/>
        <div class="container"> 
            <div class="row">
                {% for card in cards %}
                    <img src = "{% static card %}"></img>
                    <br/>
                {% endfor %}
            </div>
        </div>
        <br/>
        <br/>
        <center> <h3> There are currently <b>{{tables_remaining}}</b> table(s) open. </h3> </center>
        <br/>
        <br/>
        <div style="font-size:20px;" class="container">
            <center> <h3 style="font-size:30px;"> (<b style="color:red;">Please read before starting to play</b>) </h3> </center>
            <br/>
            <ol type = "1">
                <li>
                First off, this website is meant for non-mobile devices and will not work on mobile devices.
                </li>
                <li>
                This is a website where you can play online Heads-Up Texas Hold'em against whomever you would 
                like. 
                </li>
                <li>
                To start, go to <i>Make a Table</i> tab and create a game specifying the starting chip 
                amount, big blind, table name, and an access code to enter the table. 
                </li>
                <li>
                The table name and access code are used for you and the person you will be playing to enter 
                that specific table, so choose them accordingly. 
                </li>
                <li>
                This website uses no authentication so you will not be able to re-enter games 
                once you have entered; meaning if you leave the game after entering it, it will no longer be 
                usuable! 
                </li>
                <li>This also means that anyone can access your table if they know the access code so make it 
                unique! 
                <li>Once you have created the table go to <i>Join a Table</i> tab and select your table from the 
                dropdown menu, pick a username, and enter the access code for that table. 
                </li>
                <li>
                Assuming everything was entered correctly, this will bring you to a loading screen; which will 
                go away once both people have joined. 
                </li>
                <li>
                The UI is pretty simple; there is a bet, call, check, and fold button in which the buttons will be 
                shown as long as that particular move is available. After each hand there is around an 8 second pause 
                until the next hand is dealt.
                </li>
                <li>
                If you have any issues with any interface, find any bugs, have a request, or anything else you would 
                like me to know in regards to the website; please send me a message with the <i>Submit a Bug/Request</i>
                </li>
                <li>
                The server that hosts the website/games costs money which I pay myself. If you like the site, please 
                consider sending some money to pay for the costs using the <i>Buy Me a Coffee</i> link
                </li>
            </ol>  
        </div>
    {% endblock %}
  </body>
</html>
