<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Poker with Friends</title>

    <style>
        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
            border-style: solid double;
        }
        .card_img {
            width:45px;
            height:60px;
        }
        body {
            background-image: url("https://media.giphy.com/media/3AMRa6DRUhMli/source.gif");
        }
    </style>
</head>
<!--
        context['card1'] = table.player1_card1
        context['card2'] = table.player1_card2
        context['my_username'] = table.player1
        context['opp_username'] = table.player2
        context['my_last_bet_amount'] = table.player1_last_bet_amount
        context['opp_last_bet_amount'] = table.player2_last_bet_amount
        context['my_curr_stack'] = table.player1_current_stack
        context['opp_curr_stack'] = table.player2_current_stack
        context['my_last_bet_amount'] = table.player1_last_bet_amount
        context['opp_last_bet_amount'] = table.player2_last_bet_amount
        context['my_turn'] = table.player1_turn
        context['opp_turn'] = table.player2_turn
        context['room_name'] = room_name
        context['username'] = username
        context['starting_stack'] = table.starting_stack
        context['big_blind'] = table.big_blind
        context['small_blind'] = float(table.big_blind/2)
        context['decision_time'] = table.decision_time
        context['flop_card1'] = table.flop_card1
        context['flop_card2'] = table.flop_card2
        context['flop_card3'] = table.flop_card3
        context['pot_size'] = table.pot_size
        context['turn_card'] = table.turn_card
        context['river_card'] = table.river_card
        context['dealer'] = "Yes"/"No"
-->

<body id="body">
    <div>
        <center> 
            <h2 style="color:white;"> Waiting for other player </h2>
        </center>
    </div>
    <div id="game_on" hidden>
        <div class="sidenav">
            <h4 style="color:white;"> Chat </h4>
            <textarea id="chat-log" overflow="scroll" cols="30" rows="25"></textarea><br>
            <input id="chat-message-input" type="text" size="30"><br>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        <div>
            <center style="margin-left:200px;"> 
                <h2>{{ room_name}} : {{username}}</h2> 
                <p> Blinds: {{small_blind}}/{{big_blind}} </p>
                <p> Decision Time: {{decision_time}} </p>
                <br/>
                <br/>
                <br/>
            </center>
            <!--Table-->
            <img style="margin-left:500px;" src="{% static 'img/poker_table.png' %}" ></img>
            <img hidden style="position:fixed;left:700px; margin-top:100px;" id="flop1" class="card_img" src="{% static 'img/2_of_hearts.png' %}"></img>
            <img hidden style="position:fixed;left:750px; margin-top:100px;" id="flop2" class="card_img" src="{% static 'img/2_of_diamonds.png' %}"></img>
            <img hidden style="position:fixed;left:800px; margin-top:100px;" id="flop3" class="card_img" src="{% static 'img/2_of_clubs.png' %}"></img>
            <img hidden style="position:fixed;left:850px; margin-top:100px;" id="turn"  class="card_img" src="{% static 'img/2_of_clubs.png' %}"></img>
            <img hidden style="position:fixed;left:900px;margin-top:100px;" id="river" class="card_img" src="{% static 'img/2_of_clubs.png' %}"></img>
            <b style="font-size:18px; color:white;position:fixed;left:780px;margin-top:180px;" id="pot">Pot:</b>
            <b style="font-size:18px; color:white;position:fixed;left:850px;margin-top:180px;" id="pot_size">0</b>
            <img hidden id="my_chips_bet_img" class="card_img" style="position:fixed;margin-top:150px;left:570px;width:40px;height:40px;" src="{% static 'img/poker_chips.png' %}"></img>
            <b hidden id="my_chips_bet" style="position:fixed;left:620px;margin-top:150px;font-size:18px; color:black;">0</b>
            <img hidden id="opp_chips_bet_img" style="position:fixed;left:1060px;margin-top:150px;width:40px;height:40px;" class="card_img" src="{% static 'img/poker_chips.png' %}"></img>
            <b hidden id="opp_chips_bet" style="position:fixed;left:1040px;margin-top:150px;font-size:18px; color:black;">0</b>
            <!--my poker info-->
            <div style="position:fixed; left:350px;top:250px;">
                <p> {{username}} </p>
                <p> stack : {{my_curr_stack}} </p>
                <div class="row">
                    <img class="card_img" id="card1" src="{% static card1 %}"></img>
                    <img class="card_img" id="card2" src="{% static card2 %}"></img>
                </div>
            </div>
            <!--opp poker info-->
            <div style="position:fixed; left:1200px;top:250px;">
                <p id="opp_username"> {{opp_username}} </p>
                <p> stack : {{opp_curr_stack}} </p>
            </div>

            <div hidden id="poker_move">
                <center>
                    <select name="check_bet_call" id="check_bet_call">
                        <option value="check">Check</option>
                        <option value="bet">Bet</option>
                        <option value="call">Call</option>
                    </select>
                    <label for="bet_amount">Bet Amount:</label>
                    <input type="text" placeholder="Enter bet" name="bet_amount" id="bet_amount">
                    <p id="timer">Time Remaining:<b id="time_remaining"></b></p>
                    <input class="btn btn-primary" type="submit" id="decision_made"  value="Submit">
                </center>
            </div>
        </div>
    </div>
    <center hidden id="opp_move_waiting">
        <p style="font-size:18px;"> Waiting for opp to make decision...</p>
    </center>

    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName 
            + '/{{username}}/'
        );

        const newPlayerSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/poker/'
            + roomName
            + '/newUserConnected/{{username}}/'
        );

        const playerDecisionSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/poker/'
            + roomName
            + '/playerDecision/{{username}}/'
        );

        var decision_time = 30;//"{{decision_time}}";
        var opp_last_move = null;
        var my_last_move = null;
        const display = document.querySelector('#time_remaining');
        const body = document.querySelector('#body');
        const game_on = document.querySelector("#game_on");
        const poker_move = document.querySelector('#poker_move');
        const opp_move_waiting = document.querySelector('#opp_move_waiting')
        const my_chips_bet_img = document.querySelector('#my_chips_bet_img');
        const my_chips_bet = document.querySelector('#my_chips_bet');
        const opp_chips_bet_img = document.querySelector('#opp_chips_bet_img');
        const opp_chips_bet = document.querySelector('#opp_chips_bet');
        const opp_username = document.querySelector('#opp_username');
        const chat_log = document.querySelector('#chat-log');
        const chat_message_input = document.querySelector('#chat-message-input');
        const chat_message_submit = document.querySelector('#chat-message-submit');
        const decision_made = document.querySelector('#decision_made');
        const decision_selector = document.querySelector('#check_bet_call');
        const bet_amount_input = document.querySelector('#bet_amount');
        const pot_size = document.querySelector('#pot_size');

        var hand = 1;
        var needFlop = true;
        var needTurn = true;
        var needRiver = true;

        //start first hand, timer, and set blinds for first hand
        newPlayerSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.game_on == "yes") {

                //get rid of waiting screen
                body.style.backgroundImage = "none";
                game_on.hidden = false;

                if ("{{my_turn}}" == "True") {
                    setBlinds(true);
                    changeMyTurn();

                    //set timer
                    var sec = 30;
                    timer = setInterval(function(){
                        if (sec < 10) {
                            display.innerHTML='00:0'+sec;
                        } else {
                            display.innerHTML='00:'+sec;
                        }
                        sec--;
                        if (sec < 0) {
                            alert("time up (fold or check)");
                            clearInterval(timer);
                        }
                    }, 1000)

                } else {
                    setBlinds(false);
                    changeOppTurn();
                }
            }

            //alert(data.username);
            if (data.username != "{{username}}") {
                opp_username.innerHTML = data.username;
            }
        };


        newPlayerSocket.onopen = function() {
            if ("{{game_on}}" == "game_on") {
               //alert("Game on");
                newPlayerSocket.send(JSON.stringify({
                    "game_on":"game_on",
                    "username": "{{username}}",
                }));
            }
        }


        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            chat_log.value += ( data.username + ": " + data.message + '\n');
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        chat_message_input.focus();
        chat_message_input.onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                chat_message_submit.click();
            }
        };

        chat_message_submit.onclick = function(e) {
            const message = chat_message_input.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': "{{username}}",
            }));
            chat_message_input.value = '';
        };

        decision_made.onclick = function(e) {
            myStopFunction();
            const decision = decision_selector.options[decision_selector.selectedIndex].value;

            if (decision == "call") {
                prev_value = parseInt(my_chips_bet.innerHTML,10);
                call_amount = parseInt(opp_chips_bet.innerHTML,10) - prev_value;

            }

            if (bet_amount_input.value == null) {
                bet_amount = 0;
            } else {
                bet_amount = bet_amount_input.value;
            }

            playerDecisionSocket.send(JSON.stringify({
                'sentby': "{{username}}",
                'decision': decision,
                'betamount': bet_amount,
            }));
        }

        playerDecisionSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            alert("sent by:" + data.sentby + "  decision:" + data.decision + "  bet:" + data.betamount);
            var decision = data.decision;
            var sentby = data.sentby;
            var bet_amount = data.betamount;

            var prev_value = parseInt(pot_size.innerHTML, 10);

            if (decision == "bet") {
                alert(parseInt(bet_amount, 10));
                pot_size.innerHTML = prev_value + parseInt(bet_amount, 10);
                
                if (sentby == "{{username}}") {
                    my_chips_bet_img.hidden = false;
                    my_chips_bet.innerHTML = bet_amount;
                    my_chips_bet.hidden = false;

                } else {
                    opp_chips_bet_img.hidden = false;
                    opp_chips_bet.innerHTML = bet_amount;
                    opp_chips_bet.hidden = false;
                }

            } else if (decision == "call") {
                pot_size.innerHTML = prev_value + parseInt(bet_amount, 10);
            }

            if (sentby == "{{username}}") {
                poker_move.hidden = true;
                opp_move_waiting.hidden = false;
            } else {
                poker_move.hidden = false;
                opp_move_waiting.hidden = true;
                var sec = 30;
                timer = setInterval(function(){
                    if (sec < 10) {
                        display.innerHTML='00:0'+sec;
                    } else {
                        display.innerHTML='00:'+sec;
                    }
                    sec--;
                    if (sec < 0) {
                        alert("time up (fold or check)");
                        clearInterval(timer);
                    }
                }, 1000)
            }

        }

        function myStopFunction() {
            clearInterval(timer);
        }

        function changeOppTurn() {
            opp_move_waiting.hidden = false;
            poker_move.hidden = true;
        }

        function changeMyTurn() {
            poker_move.hidden = false;
            opp_move_waiting.hidden = true;
        }

        function setBlinds(isDealer) {
            if (isDealer) {
                //set blinds
                my_chips_bet.hidden = false;
                my_chips_bet.innerHTML = "{{small_blind}}";
                my_chips_bet_img.hidden = false;

                opp_chips_bet_img.hidden = false;
                opp_chips_bet.innerHTML = "{{big_blind}}";
                opp_chips_bet.hidden = false;
            } else {
                opp_chips_bet_img.hidden = false;
                opp_chips_bet.innerHTML = "{{small_blind}}";
                opp_chips_bet.hidden = false;

                my_chips_bet_img.hidden = false;
                my_chips_bet.innerHTML = "{{big_blind}}";
                my_chips_bet.hidden = false;
            }
        }


    </script>
</body>
</html>