{% extends 'base.html' %}
    {% load static %}
    {% block content %}

    <script>
        if ((typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {
            location.href = "/poker/mobile_error";
        }
    </script>
    {% if messages %}
        {% for message in messages %}
                {% if message.tags == "error" %}
                    <center class="alert alert-{{ message.tags }}" style="font-size:20px; border-style:solid; color:red; background-color: lightgray;">  <!-- singular -->
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </center>
                {% else %}
                    <center class="alert alert-{{ message.tags }}" style="font-size:20px; border-style:solid; color:green; background-color: lightgray;">  <!-- singular -->
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </center>
                {% endif %}
                <br/>
            {% endfor %}
    {% endif %}
    <br/>
    <br/>

    <style> 
        input {
            width:25%;
        }
    </style>
    <div class="container" style="font-size:22px;">
        <div class="row">
            <div class="col">
                <br/>
                <h2> Make Your Table</h2>
                <h5 style="font-weight:bold"> Note: Table Name or Access Code must not contain spaces and must not be empty. </h5>
                <br/>
                <form method="post" style="font-size:18px;">
                    {% csrf_token %}
                    {% for field in form %}
                        <b style="font-size:16px;">{{field.label}}</b>
                        {{field}}
                        <br/>
                        <br/>
                    {% endfor %}
                    <input class="btn btn-primary" style="width:10%;" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    {% endblock %}