<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Poker with Friends</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!--<script src="sweetalert2.all.min.js"></script>-->
    <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>-->
   <!--<script src="sweetalert2.min.js"></script>-->
    <!--<link rel="stylesheet" href="sweetalert2.min.css">-->

    <style>
        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
            border-style: solid double;
        }
        .card_img {
            width:55px;
            height:70px;
        }
        body {
            background-image: url("https://media.giphy.com/media/3AMRa6DRUhMli/source.gif");
        }
    </style>
</head>
<!--
        context['card1'] = table.player1_card1
        context['card2'] = table.player1_card2
        context['opp_username'] = table.player2
        context['my_last_bet_amount'] = table.player1_last_bet_amount
        context['opp_last_bet_amount'] = table.player2_last_bet_amount
        context['my_curr_stack'] = table.player1_current_stack
        context['opp_curr_stack'] = table.player2_current_stack
        context['my_last_bet_amount'] = table.player1_last_bet_amount
        context['opp_last_bet_amount'] = table.player2_last_bet_amount
        context['my_turn'] = table.player1_turn
        context['opp_turn'] = table.player2_turn
        context['room_name'] = room_name
        context['username'] = username
        context['starting_stack'] = table.starting_stack
        context['big_blind'] = table.big_blind
        context['small_blind'] = float(table.big_blind/2)
        context['decision_time'] = table.decision_time
        context['flop_card1'] = table.flop_card1
        context['flop_card2'] = table.flop_card2
        context['flop_card3'] = table.flop_card3
        context['pot_size'] = table.pot_size
        context['turn_card'] = table.turn_card
        context['river_card'] = table.river_card
        context['dealer'] = table.dealer
-->

<body id="body" style="font-size:14px;">
    <audio id="gameStartAudio">
        <source src="{% static "to-the-point.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="cardsDisplayedAudio">
        <source src="{% static "definite.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="changeTurnAudio">
        <source src="{% static "your-turn.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="showCardsAudio">
        <source src="{% static "knob.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio id="messageReceivedAudio">
        <source src="{% static "that-was-quick.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div>
        <center> 
            <h2 style="color:white;"> Waiting for other player </h2>
        </center>
    </div>
    <div id="game_on" hidden>
        <div class="sidenav">
            <h5 style="color:white;"> Chat </h5>
            <textarea id="chat-log" overflow="scroll" cols="30" rows="15"></textarea><br>
            <input id="chat-message-input" placeholder="Enter message..." type="text" size="30"><br>
            <input id="chat-message-submit" type="button" value="Send">
            <br/>
            <br/>
            <h5 style="color:white;">Feed</h5>
            <textarea id="move_log" overflow="scroll" cols="30" rows="10"></textarea><br>
        </div>
        <div>
            <center style="margin-left:200px;"> 
                <h2>{{ room_name}} : {{username}}</h2> 
                <p> Blinds: {{small_blind}}/{{big_blind}} </p>
                <p hidden> Decision Time: {{decision_time}} </p>
                <br/>
                <br/>
                <br/>
            </center>
            <!--Table-->
            <img style="margin-left:500px;" src="{% static 'img/poker_table.png' %}" ></img>
            <img hidden style="position:fixed;left:680px; margin-top:100px;" id="flop1" class="card_img"></img>
            <img hidden style="position:fixed;left:740px; margin-top:100px;" id="flop2" class="card_img"></img>
            <img hidden style="position:fixed;left:800px; margin-top:100px;" id="flop3" class="card_img"></img>
            <img hidden style="position:fixed;left:860px; margin-top:100px;" id="turn"  class="card_img"></img>
            <img hidden style="position:fixed;left:920px;margin-top:100px;" id="river" class="card_img"></img>
            <b style="font-size:18px; color:white;position:fixed;left:780px;margin-top:180px;" id="pot">Pot:</b>
            <b style="font-size:18px; color:white;position:fixed;left:850px;margin-top:180px;" id="pot_size">0</b>
            <img hidden id="my_chips_bet_img" class="card_img" style="position:fixed;margin-top:150px;left:570px;width:40px;height:40px;" src="{% static 'img/poker_chips.png' %}"></img>
            <b hidden id="my_chips_bet" style="position:fixed;left:620px;margin-top:150px;font-size:18px; color:black;">0</b>
            <img hidden id="opp_chips_bet_img" style="position:fixed;left:1060px;margin-top:150px;width:40px;height:40px;" class="card_img" src="{% static 'img/poker_chips.png' %}"></img>
            <b hidden id="opp_chips_bet" style="position:fixed;left:1040px;margin-top:150px;font-size:18px; color:black;">0</b>
            <!--my poker info-->
            <div style="position:fixed; left:350px;top:250px;">
                <p> {{username}} </p>
                <p id="my_stack"> stack : {{my_curr_stack}} </p>
                <div class="row">
                    <img class="card_img" id="card1"></img>
                    <img class="card_img" id="card2"></img>
                </div>
            </div>
            <!--opp poker info-->
            <div style="position:fixed; left:1200px;top:250px;">
                <p id="opp_username"> {{opp_username}} </p>
                <p id="opp_stack"> stack : {{opp_curr_stack}} </p>
                <div class="row">
                    <img class="card_img" id="card1_opp"></img>
                    <img class="card_img" id="card2_opp"></img>
                </div>
            </div>

            <div hidden id="poker_move">
                <center>
                        <button hidden style="width:100px;" id="check_button" class="btn btn-primary" type="button">Check</button>
                        <button hidden style="width:100px;left:50px;" id="call_button" class="btn btn-primary" type="button">Call</button>
                        <button hidden style="width:100px;left:50px;" id="fold_button" class="btn btn-primary" type="button">Fold</button>
                        <button hidden style="width:100px;left:50px;" id="bet_button" class="btn btn-primary" type="button">Bet</button>
                        <input id="bet_amount" style="width:70px;height:30px;font-size:16px;" value="0" type="number" min="0" max="100" step="1">
                        <p id="timer" hidden>Time Remaining:<b id="time_remaining"></b></p>
                </center>
            </div>
        </div>
    </div>
    <center hidden id="opp_move_waiting">
        <p style="font-size:18px;"> Waiting for opp to make decision...</p>
    </center>

     {{ room_name|json_script:"room-name" }}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/wss/chat/'
            + roomName 
            + '/{{username}}/'
        );

        const newPlayerSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/wss/poker/'
            + roomName
            + '/newUserConnected/{{username}}/'
        );

        const playerDecisionSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/wss/poker/'
            + roomName
            + '/playerDecision/{{username}}/'
        );

        const handWinnerSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/wss/poker/'
            + roomName
            + '/getHandWinner/'
        );

        const allInSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/wss/poker/'
            + roomName
            + '/allIn/'
        );

        const dealNewHand = new WebSocket(
            'wss://'
            + window.location.host
            + '/wss/poker/'
            + roomName
            + '/dealNewHand/'
        );

        var decision_time = 30;//"{{decision_time}}";
        var opp_last_move = null;
        var my_last_move = null;

        //html elements
        const gameStartAudio = document.querySelector("#gameStartAudio");
        const changeTurnAudio = document.querySelector("#changeTurnAudio");
        const showCardsAudio = document.querySelector("#showCardsAudio");
        const messageReceivedAudio = document.querySelector("#messageReceivedAudio");
        const cardsDisplayedAudio = document.querySelector("#cardsDisplayedAudio");
        const display = document.querySelector('#time_remaining');
        const body = document.querySelector('#body');
        const game_on = document.querySelector("#game_on");
        const poker_move = document.querySelector('#poker_move');
        const opp_move_waiting = document.querySelector('#opp_move_waiting')
        const my_chips_bet_img = document.querySelector('#my_chips_bet_img');
        const my_chips_bet = document.querySelector('#my_chips_bet');
        const opp_chips_bet_img = document.querySelector('#opp_chips_bet_img');
        const opp_chips_bet = document.querySelector('#opp_chips_bet');
        const opp_username = document.querySelector('#opp_username');
        const chat_log = document.querySelector('#chat-log');
        const chat_message_input = document.querySelector('#chat-message-input');
        const chat_message_submit = document.querySelector('#chat-message-submit');
        const decision_made = document.querySelector('#decision_made');
        const decision_selector = document.querySelector('#check_bet_call');
        const pot_size = document.querySelector('#pot_size');
        const flop1 = document.querySelector('#flop1');
        const flop2 = document.querySelector('#flop2');
        const flop3 = document.querySelector('#flop3');
        const turn = document.querySelector('#turn');
        const river = document.querySelector('#river');
        const move_log = document.querySelector('#move_log');
        const bet_amount_input = document.querySelector('#bet_amount');
        const bet_button = document.querySelector('#bet_button');
        const check_button = document.querySelector('#check_button');
        const call_button = document.querySelector('#call_button');
        const fold_button = document.querySelector('#fold_button');
        const card1 = document.querySelector('#card1');
        const card2 = document.querySelector('#card2');
        const card1_opp = document.querySelector('#card1_opp');
        const card2_opp = document.querySelector('#card2_opp');
        card1_opp.src = "/static/img/back_of_card.png";
        card2_opp.src = "/static/img/back_of_card.png";
        const opp_stack_html = document.querySelector('#opp_stack');
        const my_stack_html = document.querySelector('#my_stack');
        var username = "{{username}}";
        //var timer = null;
        
        //hand vars
        var move = 1;
        var my_stack = parseInt("{{my_curr_stack}}");
        var opp_stack = parseInt("{{opp_curr_stack}}");
        var hand = 1;
        var needFlop = true;
        var needTurn = true;
        var needRiver = true;
        var dealer = "{{dealer}}";
        var username_opp = "{{opp_username}}";
        var my_bet = 0;
        var opp_bet = 0;
        var pot = 0;
        var big_blind = parseInt("{{big_blind}}");
        var small_blind = parseInt("{{small_blind}}");

        //cards vars
        var flop_card1 = "{{flop_card1}}";
        flop1.src = "/static/img/" + flop_card1 + ".png";
        var flop_card2 = "{{flop_card2}}";
        flop2.src = "/static/img/" + flop_card2 + ".png";
        var flop_card3 = "{{flop_card3}}";
        flop3.src = "/static/img/" + flop_card3 + ".png";
        var turn_card = "{{turn_card}}";
        turn.src = "/static/img/" + turn_card + ".png";
        var river_card = "{{river_card}}";
        river.src = "/static/img/" + river_card + ".png";
        var my_card1 = "{{card1}}";
        card1.src = "/static/img/" + my_card1 + ".png";
        var my_card2 = "{{card2}}";
        card2.src = "/static/img/" + my_card2 + ".png";
        var opp_card1 = "{{opp_card1}}";
        var opp_card2 = "{{opp_card2}}";

        /* SOCKET METHODS */

        //start first hand and set blinds for first hand
        newPlayerSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            
            //if all the players are in the room, start the game
            if (data.game_on == "yes") {
                //get rid of waiting screen
                body.style.backgroundImage = "none";
                game_on.hidden = false;

                //check whose turn it is
                if (dealer == username) {
                    setBlinds(true); //set blinds where current user is SB
                    changeMyTurn(); //update UI to show it's my turn
                    setBetAmount();
                } else {
                    setBlinds(false); //set blinds where current user is BB
                    changeOppTurn(); //update UI to show it's opp turn
                    setBetAmount();
                }
                gameStartAudio.play();
            }
            move_log.value += ( "Cards dealt & blinds set.\n" );

            //if new user update opp name(if nec.)
            if (data.username != username) {
                opp_username.innerHTML = data.username;
                username_opp = data.username;
            }
        };


        //when new player, check if app players are there
        newPlayerSocket.onopen = function() {
            if ("{{game_on}}" == "game_on") {
               ////alert("Game on");
                newPlayerSocket.send(JSON.stringify({
                    "game_on":"game_on",
                    "username": username,
                }));
            }
        }

        /////CHAT
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            messageReceivedAudio.play();
            chat_log.value += ( data.username + ": " + data.message + '\n');
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        chat_message_input.focus();
        chat_message_input.onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                chat_message_submit.click();
            }
        };

        chat_message_submit.onclick = function(e) {
            const message = chat_message_input.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': username,
            }));
            chat_message_input.value = '';
        };
        //END CHAT


        //START POKER DATA PATH
        check_button.onclick = function(e) {

            disableButtons();
            setButtonsHidden();
            reEnableButtons();

            //myStopFunction(); //stop timer
            playerDecisionSocket.send(JSON.stringify({
                'sentby': username,
                'decision': "check",
                'new_turn': username_opp,
                'sentby_stack': my_stack,
                'other_stack': opp_stack,
                'sentby_bet': my_bet,
                'other_bet': opp_bet,
                'pot': pot,
            }));

        }

        call_button.onclick = function(e) {
            //myStopFunction();
            disableButtons();
            setButtonsHidden();
            reEnableButtons();

            var call_amount = opp_bet - my_bet; //get the amount left to call

            if (call_amount > (my_stack+my_bet)) {
                alert("here");
                call_amount = (my_stack+my_bet);
                var diff = opp_bet - (call_amount);
                playerDecisionSocket.send(JSON.stringify({
                    'sentby': username,
                    'decision': "call",
                    'callamount': call_amount,
                    'sentby_stack': 0,
                    'other_stack': opp_stack+diff,
                    'sentby_bet': (call_amount),
                    'other_bet': opp_bet-diff,
                    'new_turn': username_opp,
                    'pot': pot+(call_amount)-diff,
                }));

            } else {

                playerDecisionSocket.send(JSON.stringify({
                    'sentby': username,
                    'decision': "call",
                    'callamount': call_amount,
                    'sentby_stack': (my_stack-call_amount),
                    'other_stack': opp_stack,
                    'sentby_bet': (call_amount+my_bet),
                    'other_bet': opp_bet,
                    'new_turn': username_opp,
                    'pot': (pot+call_amount),
                }));
            }
            
        }

        fold_button.onclick = function(e) {
            //myStopFunction();
            disableButtons();
            setButtonsHidden();
            reEnableButtons();

            playerDecisionSocket.send(JSON.stringify({
                'sentby': username,
                'decision': "fold",
                'sentby_stack': my_stack,
                'other_stack': opp_stack+pot,
                'sentby_bet': 0,
                'other_bet': 0,
                'dealer': dealer,
                'new_turn': username_opp,
                'pot': pot,
            }));
        }

        bet_button.onclick = function(e) {
            //myStopFunction();

            disableButtons();
            if (isNaN(bet_amount_input.value)) {
                alert("Invalid bet amount, please enter valid bet size");
                reEnableButtons();
                return;
            }

            var bet_amount = parseInt(bet_amount_input.value);
            //alert("my_stack:" + my_stack + "   my_chips_bet:" + my_bet + "   bet:" + bet_amount );
            if (bet_amount > (my_stack+my_bet) || bet_amount < big_blind || bet_amount < (opp_bet*2)) {
                alert("Invalid bet amount, please enter valid bet size");
                reEnableButtons();
            } else {

                reEnableButtons();
                setButtonsHidden();

                //send a message with the bet to the socket
                playerDecisionSocket.send(JSON.stringify({
                    'sentby': username,
                    'decision': "bet",
                    'betamount': bet_amount,
                    'sentby_stack': (my_stack+my_bet-bet_amount),
                    'other_stack': opp_stack,
                    'sentby_bet': bet_amount,
                    'other_bet': opp_bet,
                    'new_turn': username_opp,
                    'pot': (pot+bet_amount) - my_bet,
                }));
            }
                
        }

        function disableButtons() {
            bet_button.disabled = true;
            check_button.disabled = true;
            call_button.disabled = true;
            fold_button.disabled = true;
        }

        function reEnableButtons() {
            bet_button.disabled = false;
            check_button.disabled = false;
            call_button.disabled = false;
            fold_button.disabled = false;
        }

        function setButtonsHidden() {
            call_button.hidden = true;
            fold_button.hidden = true;
            check_button.hidden = true;
            bet_button.hidden = true;
            bet_amount_input.hidden = true;
        }

        //receive a message from the socket
        playerDecisionSocket.onmessage = function(e) {

            const data = JSON.parse(e.data);
            var decision = data.decision;
            var sentby = data.sentby;

            if (decision == "fold") {
                if (sentby == username) {
                    move_log.value += username_opp + " wins hand (" + pot + ")\n";
                    opp_stack += pot;
                    opp_stack_html.innerHTML = opp_stack;
                    Swal.fire({
                        title: "You fold!",
                        text: username_opp + " wins the hand(" + pot + ")", 
                        confirmButtonText: "Go Back",
                        timer: 6000
                    });
                } else if (sentby == username_opp) {
                    move_log.value += username + " wins hand (" + pot + ")\n";
                    my_stack += pot;
                    my_stack_html.innerHTML = my_stack;
                    Swal.fire({
                        title: "Opp folds!",
                        text: username + " wins the hand(" + pot + ")",
                        confirmButtonText: "Go Back",
                        timer: 6000
                    });
                }

                setEverythingEmpty();
                hand += 1;

                if (username == dealer) {
                    dealNewHand.send(JSON.stringify({
                        "sentby": username,
                        'table_name': "{{room_name}}",
                        'dealer':dealer,
                    }));
                }

                showCardsAudio.play();

            } else {
                var allin = false;
                if (sentby == username) {
                    my_stack = parseInt(data.sentby_stack);
                    opp_stack = parseInt(data.other_stack);
                    my_bet = parseInt(data.sentby_bet);
                    opp_bet = parseInt(data.other_bet);

                    if ( (my_stack == 0 || opp_stack == 0) &&  my_bet == opp_bet) {
                        allin = true;
                    }
                } else {
                    my_stack = parseInt(data.other_stack);
                    opp_stack = parseInt(data.sentby_stack);
                    my_bet = parseInt(data.other_bet);
                    opp_bet = parseInt(data.sentby_bet);

                    if ( (my_stack == 0 || opp_stack == 0) &&  my_bet == opp_bet) {
                        allin = true;
                    }
                }

                //alert("my_stack " + my_stack + "  opp_stack " + opp_stack + "\nmy_bet " + my_bet + " opp_bet " + opp_bet);

                my_stack_html.innerHTML = my_stack;
                opp_stack_html.innerHTML = opp_stack;

                my_chips_bet.innerHTML = my_bet;
                opp_chips_bet.innerHTML = opp_bet;


                pot = parseInt(data.pot);
                //alert(typeof(pot) + " " +  pot);
                pot_size.innerHTML = pot;

                var turn = data.turn;
                //alert("sent by:" + data.sentby + "  decision:" + data.decision);

                if (allin) {
                    allInSocket.send(JSON.stringify({
                        "sentby":username,
                        "table_name": "{{room_name}}",
                    }));
                } else if (decision == "bet") {
                    move_log.value += ( sentby + " bets " + data.betamount + "\n" );
                    changeUIBet(sentby);
                } else if (decision == "call") {
                    move_log.value += ( sentby + " calls " + data.callamount + "\n" );
                    changeUICall(sentby);
                }  else { //check
                    move_log.value += ( sentby + " checks\n" );
                    changeUICheck(sentby);
                }
            }

        }


        function changeUICall(sentby) {

            if (needFlop) { //PREFLOP
                if (dealer == sentby) { //SB called the BB
                    if (sentby == username) {
                        //alert("hefinefienfie");
                        changeOppTurn(); //now opp turn
                    } else {
                        //alert("hefinefi32434");
                        changeMyTurn(); //now my turn
                    }
                    
                    if (move > 3) { //SB called BB raise
                        doFlop();
                        swapTurnsAfterFlop();
                        needFlop = false;
                    }

                } else { //BB called preflop raise of SB
                    doFlop();
                    needFlop = false;
                    swapTurnsAfterFlop();
                } 
            } else if (needTurn) {
                doTurn();
                needTurn = false;
                swapTurnsAfterFlop();

            } else if (needRiver) {
                doRiver();
                needRiver = false;
                if (sentby == username) {
                    changeOppTurn() //now opp turn
                } else {
                    changeMyTurn() //now my turn
                }
                swapTurnsAfterFlop();

            } else { //all cards dealt
                //alert(dealer + " " + username + " " + sentby);
                if (dealer == username) {
                    //alert("dealer == username call");
                    checkHands();
                }
            }

        }

        function changeUIBet(sentby) {
            
            if (sentby == username) {
                my_chips_bet_img.hidden = false;
                my_chips_bet.hidden = false;

            } else {
                opp_chips_bet_img.hidden = false;
                opp_chips_bet.hidden = false;
            }

            swapTurnAfterCheckBet(sentby);
        }

        function changeUICheck(sentby) {
            if (needFlop) {
                doFlop();
                needFlop = false;
                swapTurnsAfterFlop();

            } else if (needTurn) {
                if (dealer == sentby) {
                    doTurn();
                    needTurn = false;
                    swapTurnsAfterFlop();
                } else {
                    swapTurnAfterCheckBet(sentby);
                }

            } else if (needRiver) {
                if (dealer == sentby) {
                    doRiver();
                    needRiver = false;
                    swapTurnsAfterFlop();
                } else {
                    swapTurnAfterCheckBet(sentby);
                }
            } else if (sentby == dealer) {
                if (username == dealer) {
                    //alert("dealer == username check");
                    checkHands();
                }
            } else {
                swapTurnAfterCheckBet(sentby);
            }
        }

        //change turns after flop(non dealer acts first)
        function swapTurnsAfterFlop() {
            move = move + 1;
            hideChips();
            //alert("henefinrifne");
            if (dealer == username) {
                changeOppTurn();
            } else {
                changeMyTurn();
            }

            my_bet = 0;
            opp_bet = 0
            my_chips_bet.innerHTML = my_bet;
            opp_chips_bet.innerHTML = opp_bet;
        }

        //change turns after someone checks/bets
        function swapTurnAfterCheckBet(sentby) {
            //alert("hvyguhu " + sentby);
            if (sentby == username) {
                changeOppTurn(); //now opp turn
            } else {
                //alert("fifinfirnfi");
                changeMyTurn(); //now my turn
            }
        }

        
        function doFlop() {
            move_log.value += ( "Flop is dealt\n" );
            flop1.hidden = false;
            flop2.hidden = false;
            flop3.hidden = false;
            //showCardsAudio.play();
            //cardsDisplayedAudio.play();
        }

        function doTurn() {
            move_log.value += ( "Turn is dealt\n" );
            turn.hidden = false;
            //showCardsAudio.play();
            //cardsDisplayedAudio.play();
        }

        function doRiver() {
            move_log.value += ( "River is dealt\n" );
            river.hidden = false;
            //showCardsAudio.play();
            //cardsDisplayedAudio.play();
        }

        function changeOppTurn() {
            move = move + 1;
            opp_move_waiting.hidden = false;
            poker_move.hidden = true;
            my_turn = true;

            bet_button.hidden = true;
            call_button.hidden = true;
            fold_button.hidden = true;
            check_button.hidden = true;
            changeTurnAudio.play();
        }

        function hideChips() {
            my_chips_bet.hidden = true;
            my_bet = 0;
            my_chips_bet.innerHTML = my_bet;
            my_chips_bet_img.hidden = true;

            opp_chips_bet_img.hidden = true;
            opp_bet = 0;
            opp_chips_bet.innerHTML = opp_bet;
            opp_chips_bet.hidden = true;
        }

        function changeMyTurn() {
            move = move + 1;
            poker_move.hidden = false;
            opp_move_waiting.hidden = true;
            my_turn = false;

            /*var sec = 30;
            timer = setInterval(function(){
                if (sec < 10) {
                    display.innerHTML='00:0'+sec;
                } else {
                    display.innerHTML='00:'+sec;
                }
                sec--;
                if (sec < 0) {
                    alert("time up (fold or check)");
                    myStopFunction();
                }
            }, 1000)*/

            setBetAmount();
            changeTurnAudio.play();
        }

        function setBlinds(isDealer) {
            if (isDealer) {
                //set blinds
                my_chips_bet.hidden = false;
                my_chips_bet.innerHTML = small_blind;
                my_bet = small_blind;
                my_stack -= small_blind;
                my_stack_html.innerHTML = my_stack;
                my_chips_bet_img.hidden = false;

                opp_chips_bet_img.hidden = false;
                opp_bet = big_blind;
                opp_chips_bet.innerHTML = big_blind;
                opp_stack -= big_blind;
                opp_stack_html.innerHTML = opp_stack;
                opp_chips_bet.hidden = false;
            } else {
                opp_chips_bet_img.hidden = false;
                opp_chips_bet.innerHTML = small_blind;
                opp_stack -= small_blind;
                opp_bet = small_blind;
                opp_stack_html.innerHTML = opp_stack;
                opp_chips_bet.hidden = false;

                my_chips_bet_img.hidden = false;
                my_chips_bet.innerHTML = big_blind;
                my_stack -= big_blind;
                my_bet = big_blind;
                my_stack_html.innerHTML = my_stack;
                my_chips_bet.hidden = false;
            }

            //alert(typeof(opp_bet) + typeof(my_bet));

            pot += opp_bet + my_bet;
            pot_size.innerHTML = pot;
        }

        handWinnerSocket.onmessage = function(e) {

            const data = JSON.parse(e.data);
            var skip = data.skip;

            if (skip == "no") {
                //alert("here");
                var sentby = data.sentby;
                var winner = data.winner;
                var sentby_hand = data.sentby_hand;
                var other_hand = data.other_hand;
                var winning_hand = data.winning_hand;
                /*alert(sentby_hand);
                alert(typeof(sentby_hand));
                alert(other_hand);
                alert(typeof(sentby_hand));*/
                card1_opp.src = "/static/img/" + opp_card1  + ".png";
                card2_opp.src = "/static/img/" + opp_card2  + ".png";

                if (username == winner) {
                    Swal.fire({
                        title: "You win hand!",
                        text: winner + " wins the hand with a " + winning_hand + "(" + pot + ")",
                        confirmButtonText: "Go Back",
                        timer: 6000
                    });

                    move_log.value += "Hand " + hand + ": " + winner + " wins the hand with a " + winning_hand + "(" + pot + ")\n";

                    my_stack += pot;
                    my_stack_html.innerHTML = my_stack;
                    
                    //alert(my_stack_html.innerHTML);

                    if ( opp_stack == 0 ) {
                        Swal.fire({
                            title: "You Won!",
                            text: username + " wins the game",
                            confirmButtonText: "Go Back",
                            timer: 6000
                        });

                        setButtonsHidden();
                        return;
                    }
                    
                } else if (winner == "both") {
                    Swal.fire({
                        title: "Split Pot!",
                        text: "Hand is a tie!",
                        confirmButtonText: "Go Back",
                        timer: 6000
                    });

                    var split = pot/2;
                    move_log.value += "Hand " + hand + ": Hand is a tie! "+ "(" + split + ")\n";

                    my_stack_html.innerHTML = my_stack + split;
                    my_stack += split;

                    opp_stack_html.innerHTML = opp_stack + split;
                    opp_stack += split;
                
                
                } else {
                    Swal.fire({
                        title: "Opp wins hand!",
                        text: winner + " wins the hand with a " + winning_hand + "(" + pot + ")\n",
                        confirmButtonText: "Go Back",
                        timer: 6000
                    });

                    move_log.value += "<b>Hand " + hand + "</b>: " + winner + " wins the hand with a " + winning_hand + "(" + pot + ")\n";

                    opp_stack += pot;
                    opp_stack_html.innerHTML = opp_stack;
                    //alert(opp_stack_html.innerHTML);

                    if (my_stack == 0 ) {
                        Swal.fire({
                            title: "You Lost!",
                            text: username_opp + " wins the game",
                            confirmButtonText: "Go Back",
                            timer: 10000
                        });
                        setButtonsHidden();
                        return;
                    }
                }

                showCardsAudio.play();
                setEverythingEmpty();
                hand += 1;

                if (sentby == dealer && username == dealer) {
                    //alert("will send new hand!!!!!");
                    dealNewHand.send(JSON.stringify({
                        "sentby": username,
                        'table_name': "{{room_name}}",
                        'dealer':dealer,
                    }));
                }
            }
        }

        dealNewHand.onmessage = function(e) {

            //alert("new hand");
            const data = JSON.parse(e.data);
            var skip = data.skip;
            var sentby = data.sentby;

            if (skip == "no") {

                dealer = data.dealer;
                //alert("new_dealer "+ dealer);
                var sentby_card1 = data.sentby_card1;
                var sentby_card2 = data.sentby_card2;
                var other_card1 = data.other_card1;
                var other_card2 = data.other_card2;
                var flop_card1 = data.flop_card1;
                var flop_card2 = data.flop_card2;
                var flop_card3 = data.flop_card3;
                var turn_card = data.turn_card;
                var river_card = data.river_card;
                //alert(river_card);

                //alert(sentby_card1 + " " + sentby_card2 + " " + other_card1 + " " + other_card2);

                if (sentby == username) {
                    //alert("here");
                    my_card1 = sentby_card1;
                    my_card2 = sentby_card2;
                    card1.src = "/static/img/" + my_card1 + ".png";
                    card2.src = "/static/img/" + my_card2 + ".png";

                    opp_card1 = other_card1;
                    opp_card2 = other_card2;
                    card1_opp.src = "/static/img/back_of_card.png";
                    card2_opp.src = "/static/img/back_of_card.png";

                } else {
                    //alert("here2");
                    my_card1 = other_card1;
                    my_card2 = other_card2;
                    card1.src = "/static/img/" + my_card1 + ".png";
                    card2.src= "/static/img/" + my_card2 + ".png";

                    opp_card1 = sentby_card1;
                    opp_card2 = sentby_card2;
                    card1_opp.src = "/static/img/back_of_card.png";
                    card2_opp.src = "/static/img/back_of_card.png";
                }


                if (username == dealer) {
                    setBlinds(true);
                    changeMyTurn(); //update UI to show it's my turn
                    setBetAmount();
                } else {
                    setBlinds(false);
                    changeOppTurn(); //update UI to show it's my turn
                    setBetAmount();
                }

                flop1.hidden = true;
                flop2.hidden = true;
                flop3.hidden = true;
                turn.hidden = true;
                river.hidden = true;

                flop1.src = "/static/img/" + flop_card1 + ".png";
                flop2.src = "/static/img/" + flop_card2 + ".png";
                flop3.src = "/static/img/" + flop_card3 + ".png";
                turn.src = "/static/img/" + turn_card + ".png";
                river.src = "/static/img/" + river_card + ".png";

                move_log.value += ( "Cards dealt & blinds set.\n" );
            }

        }

        function setEverythingEmpty() {
            hideChips();
            pot = 0;
            pot_size.innerHTML = pot;
            bet_button.hidden = true;
            fold_button.hidden = true;
            call_button.hidden = true;
            check_button.hidden = true;
            bet_amount_input.hidden = true;
            needFlop = true;
            needTurn = true;
            needRiver = true;
            move = 1;
        }


        function checkHands() {
            var my_cards = [my_card1,my_card2];
            var opp_cards = [opp_card1,opp_card2];
            var flop = [flop_card1,flop_card2,flop_card3];

            
            if (username == dealer) {
                handWinnerSocket.send(JSON.stringify({
                    'sentby': username,
                    'sentby_cards': my_cards,
                    'opp_cards': opp_cards,
                    'flop_cards': flop,
                    'turn_card': turn_card,
                    'river_card': river_card,
                    'opp_username': username_opp,
                    'table_name': "{{room_name}}",
                    'current_dealer': dealer,
                }));
            }

        }

        function setBetAmount() {
            bet_button.hidden = true;
            call_button.hidden = true;
            fold_button.hidden = true;
            bet_amount_input.hidden = true;

            //alert(my_bet + " " + opp_bet + typeof(my_bet) + typeof(opp_bet));
            if (my_bet < opp_bet) {
                bet_button.hidden = false;
                call_button.hidden = false;
                fold_button.hidden = false;
                bet_amount_input.hidden = false;
            } else if (my_bet == opp_bet) {
                bet_button.hidden = false;
                check_button.hidden = false;
                bet_amount_input.hidden = false;
            }

            if (opp_bet == 0) {
                bet_amount_input.min = big_blind;
                bet_amount_input.value = big_blind
            } else if (opp_bet >= my_bet) { //can be else I think
                if (my_stack < opp_bet * 2) {
                    bet_amount_input.min = parseInt(my_stack) + my_bet;
                    bet_amount_input.value = parseInt(my_stack) + my_bet;
                } else {
                    bet_amount_input.min = (opp_bet * 2);
                    bet_amount_input.value = (opp_bet * 2);
                }
            } 
            bet_amount_input.max = parseInt(my_stack) + my_bet;
        }

        allInSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            allInAnimation();
        }

        async function allInAnimation() {

            if (needFlop) {
                cardsDisplayedAudio.play();
                doFlop();
                await sleep(2000);
            }

            if (needTurn) {
                cardsDisplayedAudio.play();
                doTurn();
                await sleep(2000);
            }

            if (needRiver) {
                cardsDisplayedAudio.play();
                doRiver();
                await sleep(2000);
            }

            checkHands();
        }
        
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }


   </script>
</body>
</html>