<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
{% extends 'base.html' %}
    {% load static %}
    {% block content %}
        <script>
            if ((typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1)) {
                location.href = "/poker/mobile_error";
            }
        </script>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <center class="alert alert-{{ message.tags }}" style="font-size:20px; border-style:solid; color:red; background-color: lightgray;">  <!-- singular -->
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </center>
                {% else %}
                    <center class="alert alert-{{ message.tags }}" style="font-size:20px; border-style:solid; color:green; background-color: lightgray;">  <!-- singular -->
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </center>
                {% endif %}
                <br/>
            {% endfor %}
        {% endif %}
        <br/>

        <style>
            select {
                width:25%;
            }
        </style>
        <center> <h2> Submittion Request </h2> </center>
        <br/>
        <div class="container">
            <div>
                <form method="post" style="font-size:18px;">
                    {% csrf_token %}
                    {% for field in form %}
                        <p style="font-size:16px;"><b>{{field.label}}<b/></p>
                        {{field}}
                        <br/>
                        <br/>
                    {% endfor %}
                    <input class="btn btn-primary" style="width:10%;" type="submit" value="Submit">
                </form>
            </div>
        </div>


    {% endblock %}